<h1>Đặt lại mật khẩu</h1>

<p>Để đặt lại mật khẩu của bạn, hãy nhấp vào liên kết bên dưới:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
email: @user.email) %>

<p>Liên kết này sẽ hết hạn sau hai giờ.</p>

<p>
Nếu bạn không yêu cầu đặt lại mật khẩu của mình, vui lòng bỏ qua email này và
mật khẩu của bạn sẽ vẫn như cũ.
</p>
