.nav-item {
  text-align: center;
}
hr {
  width: 100vw;
  height:1px;
}
.button-tour {
  width: 128px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px dotted;
  margin-bottom: 10px;
  margin-left: 15px;
}
h1 {
  text-align: center;
  color: orange;
  text-shadow: 2px 2px #ff0000;
}

.line {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}
