/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
.login-signup {
  margin: 70px 500px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  .form-control {
    color: state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.vremovePadding-min-md {
    padding-left: 15px;
    padding-right: 15px;
}
.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.hotel-header .hotel-information {
    padding-right: 0px;
    letter-spacing: -0.2px;
    float: left;
}
.hotel-header .hotel-information .title {
    line-height: 1.25;
    color: #003C71;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotel-header .hotel-information .score-container {
    cursor: pointer;
}
.v-margin-bottom-10 {
    margin-bottom: 10px;
}
.no-padding {
    padding: 0px;
}
.title {
    line-height: 1.25;
    color: #003C71;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.score-container{
    margin-bottom: 10px;
}
.score-container .score {
    padding: 3px 5px;
    border-radius: 6px;
    background: #9FC43A;
    color: white;
    font-weight: bold;
}
.score-container .score-description {
    color: #9FC43A;
    font-weight: bold;
}
.star {
    color: #F79321;
    top: 0px;
}

.tour-reservation {
  text-align: right;
}
.price {
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1.1;
    font-weight: 600;
    color: #26BED6;
}

.price .currency {
  font-size: 14px;
}
.btn.btn-action {
  transition: all .2s ease-in-out;
    background: #F79321;
    border: 1px solid #F79321;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    width: 75%;
}
.image-tour{
  width: 100%;
  height: 500px;
  margin-top: 30px;
  border-radius: 5px;
}
.combo {
    background: #feeec5;
    color: #555863;
    border: 1px solid #fde29d;
    padding: 0px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 0px 0px 4px 4px;
    border-top: 0px solid transparent;
}
.combo__heading {
    color: #3d3f47;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 30px;
    margin-left: 20px;
}
.combo-all {
    margin-left: 20px;
    color: #555863;
    font-size: 14px;
    line-height: 1.6;
}

.combo-all b{
  line-height: 1.1;
  font-size: 18px;
  font-weight: bold;
}
.tourPanelHeading h4 {
  line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    color: #003C71;
}

.horizontalLine2 {
    margin-top: 10px;
    margin-bottom: 10p
}

.image-rounded {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-body h4 {
    color: #003C71;
    font-size: 15px;
    width: 225px;
    margin: 0;
    padding: 0;
}
.media-body i{
    position: relative;
    top: 4px;
    color: #F79321;
}
.media-left {
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
    line-height: 1.5;
    font-size: 14px;
}
.hotelItemReviews {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5
}
.hotelItemReviews .review-score {
    font-size: 14px;
    background-color: #9FC43A;
    border-radius: 4px;
    padding: 0px 4px;
    color: #FFFFFF;
    display: inline-block;
}
.hotelItemReviews .review-text {
    color: #9FC43A;
    font-weight: bold;
}
.vcolor-info {
  font-size: 22px;
  font-weight: bold;
  float: right;
  color: #00C1DE;
}
.vcolor-info .textCurrency {
  font-size: 13px;
  font-weight: initial;
}
.tour_image {
  width: 100%;
  height: 200px;
}
.localHeadLine {
  width: 100%;
  height: 70px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  border-bottom: 2px solid #003C71;
}
.localHeadLine p {
  line-height: 105px;
}
.footer {
  margin-top: 0 !important;
}
.modal-title {
    color: #333 !important;
}
.text_color {
  color: #003C71;
}
.text_color1 {
  color: #4E4E4E;
}
.text_fix {
  font-size: 20px;
  margin-bottom: 10px;
}
.cardContent {
  height: 230px;
  margin-bottom: 10px;
}
.background_color {
    background-color: #f9fbfc !important;
}
.user-navigation {
    padding-bottom: 15px;
}
.mat-sidenav-content {
    background-color: #fff;
}
.user-navigation-wrap {
    padding-top: 30px;
}
.circleUserProgress {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 50%;
}
.user-info {
    text-align: center;
    padding-top: 16px;
    line-height: 16px;
    padding-bottom: 15px;
}
.user-name {
    font-size: 16px;
    font-weight: 700;
    font-family: HelveticaNeueBold;
}
.user-vertical-menu li {
    font-weight: 500;
    line-height: 50px;
    list-style-type: none;
    border-bottom: 1px solid #bdbdbd;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 15px;
    list-style: none;
}
.dashbroad-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}
.user-content {
    padding-right: 12px!important;
    padding-left: 12px!important;
    overflow: hidden;
}
.user-profile {
    padding-top: 30px;
}
.user-img {
    padding-bottom: 20px;
    text-align: center;
}
.profile-all {
    margin-bottom: 30px;
    margin-top: 30px;
}
.img_box {
  width: 30%;
  height: 230px;
}
.category_image {
  width: 100%;
  height:200px;
}
.text_box {
  width: 50%;
  height: 230px;
  padding-top: 25px;
}
.price_box {
  width: 20%;
  height: 230px;
  padding-top: 100px;
  text-align: center;
}
.textFix {
  line-height: 1.3;
  font-size: 30px;
  font-weight: normal;
  color: #003c71;
}
.textDuration {
  font-size: 20px;
  line-height: 2;
  color: #00abc5;
}
.textPrice {
  color: #00abc5;
  font-size: 25px;
}
.user-tour-image {
    width: 100%;
    height: 230px;
}
.user-vertical-menu .user-vertical-menu-profile {
    border-bottom: none !important;
}
.review_user_avatar .gravatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.color_red {
  a {
    color: red;
  }
}
.color_white {
  color: #fff;
}
.button-create-review {
  margin-top: 15px;
  margin-bottom: -20px
}
.like-color {
  color: red;
}
.comment_user_image img {
  border-radius: 10px;
  width: 40px;
}
.comment_user_content {
  margin-top: 10px !important;
  margin-bottom: 10px;
  margin-left: 25px;
}
.comment_user_time {
  margin-top: 15px !important;
  font-size: 12px;
}
.form-check-input {
  height: 1em !important;
}
.fa-star {
  color: #F79321;
}
.fix-star {
  font-size: 25px;
}
.fix-star:hover {
  color: #F79321;
  cursor: pointer;
}
.form-search {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 45%;
  display: none;
}
.main-menu ul > li span {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #fff;
  padding: 15px 26px;
  padding-top: 24px;
  cursor: pointer;
}
.main-menu ul > li span:hover {
  color: black;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search-homepage {
  background: #ee580f;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 400;
  border: solid #ee580f 1px;
  border-radius: 0 0 5px 5px;
  padding: 5px 75px;
}
